/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
  height: 100%;
}

.section-test {
				height: 100%;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid blue;
                display: flex;
                flex-direction: column;
                padding-top: 35px;
                background-image: url('./static/modeling.jpg');
				background-position: center;
				background-repeat: no-repeat;
                background-size: cover;
}

.menu {
	display: flex;
	width: calc(100vw - 300px);
	justify-content: space-between;
	box-sizing: border-box;
	background-color: #110C11;
}

.menu-hidden {
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: #110C11;
}

.menu-animated {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.test-animation {
	/* width: '300px',
             border: '1px solid orange',
             display: 'flex',
			 flexDirection: 'column', */
			 width: 300px;
             border: 1px solid orange;
             display: flex;
			 flex-direction: column;
			 animation-name: menuSlideOpen;
			 animation-duration: 2s;
}

@keyframes menuSlideOpen {
	from {
		width: 0px;
	}
	to {
		width: 300px;
	}
}

